@import "./theme";
.gc-add{
  &.container-view{
    background-color: $cWhite;
    .single-block{
      width: 100%;
      height:300px;
      padding:0 20px;
      .step{
        height: 73px;
        line-height: 73px;
        font-size: 18px;
        color:rgba(0,0,0,.9);
        font-weight: 700;
      }
      .area{
        padding:0;
        width:100%;
        min-height: 50px;
        border:0;
        font-size: 16px;
        color:rgba(0,0,0,.4);
        line-height: 22px;
      }
      .vux-checker-box{
        margin-top: 10px;
        @include flex-row(row,space-between);
      }
      .default-tag{
        background-color:#f5f5f5;
        border:1px solid #f5f5f5;
        border-radius: 5px;
        text-align: center;
        padding:3px 10px;

      }
      .selected-tag{
        border:1px solid #00C691;
        background-color:#00C691;
        color:#fff;
      }
    }
  }
}
