@import "./theme";
.gc-index{
  width: 100%;
  height: 100%;
  position: relative;
  &.container-view{
    background-color: $cWhite;
    padding:0 20px;
    .header{
      width: 100%;
      height: 170px;
      @include flex-row(column,flex-start,center);
      .logo{
        width: 94px;
        height: 44px;
        margin:33px 0;
      }
      .weui-vcode{
        width:100%;
        height: 60px;
        border:1px solid #EDEDED;
        border-radius: 30px;
        box-shadow: 0 2px 11px 0 rgba(0,0,0,.06);
      }
    }
    .opration{
      margin-top: 5px;
      height: 64px;
      @include flex-row(row,space-between);
      font-size: 16px;
      color:#666;
      .personc{
        color:#00C691;
      }
    }
    .top-list{
      padding-top:0;
      @extend .block;
      top:239px;
    }
  }
}
