@import "./theme";
.mine-wraper{
  &.container-view{
    background-color: #F5F5F5;
    position: relative;
    .mine-header{
      padding:0 20px;
      margin-top: -14px;
      height: 171px;
      @include flex-row(row,space-between);
      .avatar-b{
        @include block(83px);
      }
      .name{
        color: #000;
        font-size: 30px;
        font-weight: 700;
      }
      .price{
        margin-top: 21px;
        @include flex-row(row,center);
        align-items: center;
        .count{
          color:$cYellow;
          font-size: 20px;
          margin-left:7px;
        }
        .desc{
          color:#7F8585;
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }
    .mine-opration{
      padding:0 20px;
      @extend .block;
      top:200px;
      background-color: $cWhite;
      .opration-item{
        width: 100%;
        height: 70px;
        @include flex-row(row,space-between);
        border-bottom: 1px solid #F5F5F5;
        .key{
          font-size: 18px;
          color:#000;
        }
        .item{
          flex:1;
          text-align: right;
          .keyvalue{
            font-size: 16px;
            color:rgba(0,0,0,.4);
            margin-right: 9px;
          }
        }
      }
    }
    .public-btn{
      position: absolute;
      bottom:63px;
      left:50%;
      margin-left: -79px;
      width: 158px;
      height:60px;
      border:1px solid #00C691;
      background-color: #00C691;
      border-radius: 30px;
      color:#fff;
      font-size: 18px;
      box-shadow: 0 4px 16px 0 rgba(0,198,145,.38);
    }
  }
}
