@import "./theme";
.gc-search {
  &.container-view {
    background-color: $cWhite;
    .search-wrap{
      padding:0 20px;
      width: 100%;
      height:36px;
      .weui-vcode{
        width:100%;
        height: 100%;
        border:1px solid #EDEDED;
        border-radius: 30px;
        box-shadow: 0 2px 11px 0 rgba(0,0,0,.06);
      }
    }
    .search-list{
      @extend .block;
      top:76px;
    }
  }
}
