$cRed:#FF5E4D;
$cGreen:#43A345;
$cWhite:#fff;
$cBlue:#0072FF;
$cGray:#aaa;
$cYellow:#FFD600;
$cBg: #001436;
@mixin flex-row($direction:row,$value:center,$valueT:center){
  display: flex;
  flex-direction: $direction;
  justify-content: $value;
  align-items: $valueT;
}
@mixin block($val){
  width: $val;
  height: $val;
  border-radius: $val;
}
@mixin setBtn($width,$height,$bgColor,$radius,$color,$font) {
  width:$width;
  height:$height;
  border-radius: $radius;
  background-color: $bgColor;
  font-size: $font;
  color:$color;
}
@mixin borderRadius($tl,$tr,$bl,$br){
  border-top-left-radius:$tl ;
  border-top-right-radius: $tr;
  border-bottom-left-radius: $bl;
  border-bottom-right-radius: $br;
}
.btn{
  background:none;
  border:0;
  margin:0;
  padding:0;
  font-size:12px;
}
.goback{
  height: 48px;
  position: absolute;
  left: 10px;
  color:$cBg;
}
.goback-btn{
  height: 40px;
  color:$cBg;
  margin-left: 10px;
}
.resetScrollBar{
  &::-webkit-scrollbar { width: 0 !important }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.weui-cell:before{
  border-top:0 !important;
}
.block{
  padding:10px 20px;
  position: absolute;
  top:40px;
  left: 0;
  right:0;
  bottom:0;
  overflow-y: auto;
  @extend .resetScrollBar;
}
.tip{
  margin-left: 20px;
  font-size: 12px;
  color:#00C691;
}
.public-header{
  padding:0 10px;
  height: 56px;
  @include flex-row(row,space-between);
  .public-btn{
    width: 110px;
    height:38px;
    background-color: #00C691;
    border-radius: 30px;
    color:#fff;
    font-size: 18px;
    box-shadow: 0 4px 16px 0 rgba(0,198,145,.38);
  }
}
.default-tag{
  background-color:#f5f5f5;
  border:1px solid #f5f5f5;
  border-radius: 5px;
  text-align: center;
  padding:3px 10px;

}
.selected-tag{
  border:1px solid #00C691;
  background-color:#00C691;
  color:#fff;
}
.tag-class{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 80px;
  height: 15px;
  line-height: 15px;
  padding:3px 10px;
  margin:10px 10px 0 0;
  border:1px solid #00C691;
  background-color:#00C691;
  border-radius: 5px;
  color:#fff;
  font-size: 12px;
}
