$cRed:#FF5E4D;
$cGreen:#43A345;
$cWhite:#fff;
$cBlue:#0072FF;
$cGray:#aaa;
$cYellow:#FFD600;
$cBg: #001436;
@mixin flex-row($direction:row,$value:center,$valueT:center){
  display: flex;
  flex-direction: $direction;
  justify-content: $value;
  align-items: $valueT;
}
@mixin block($w,$h,$b){
  width: $w;
  height: $h;
  border-radius: $b;
}
@mixin setBtn($width,$height,$bgColor,$radius,$color,$font) {
  width:$width;
  height:$height;
  border-radius: $radius;
  background-color: $bgColor;
  font-size: $font;
  color:$color;
}
@mixin borderRadius($tl,$tr,$bl,$br){
  border-top-left-radius:$tl ;
  border-top-right-radius: $tr;
  border-bottom-left-radius: $bl;
  border-bottom-right-radius: $br;
}
.block{
  padding:10px 20px;
  position: absolute;
  top:40px;
  left: 0;
  right:0;
  bottom:0;
  overflow-y: auto;
}
.btn{
  background:none;
  border:0;
  margin:0;
  padding:0;
  font-size:12px;
}
.goback{
  height: 48px;
  position: absolute;
  left: 10px;
  color:#fff;
}
.goback-btn{
  height: 40px;
  margin-left: 10px;
  color:$cWhite;
}
.resetScrollBar{
  &::-webkit-scrollbar { width: 0 !important }
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.weui-cell:before{
  border-top:0 !important;
}
